
.menu{
  width: 90%;
  margin: auto;
  height: 116px;
  display: inline-flex;
  background-color: aqua;
}
.menu-logo{
  width: 50%;
  margin-top: 49px;
  background-color:aquamarine
}
.logo{
  font-size: 1.6rem;
  font-weight: 700;
  background-color:yellow
}

.menu-nav{
  margin-top: 50px;
  width: 50%;
  background-color:yellowgreen
}
.menu-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 0px;
}
.menu-list-item{
   list-style: none;
   padding-right: 50px;
   background-color:rgb(85, 0, 255)
}

.list-item{
text-decoration: none;
color: inherit;
}