
:root{
  --darck-color: #000000;
  --button-color: #2639ED;
  --font-color: #565656;
  font-size: 16px;
  font-weight: 400;
  font-family: Averta Demo PE Cutted Demo; 
}

.container{
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
}

h2{
  font-size: 40px;
  font-weight: 400;
  color:#000000;
}
p{
  font-weight: 400;
  color: var(--font-color)
}
/* .menu{
  width: 90%;
  margin: auto;
  height: 116px;
  display: inline-flex;
  background-color: aqua;
}
.menu-logo{
  width: 50%;
  margin-top: 49px;
  background-color:aquamarine
}
.logo{
  font-size: 1.6rem;
  font-weight: 700;
  background-color:yellow
}

.menu-nav{
  margin-top: 40px;
  width: 50%;
  background-color:yellowgreen
}
.menu-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 0px;
}
.menu-list-item{
   list-style: none;
   padding-right: 50px;
   background-color:aqua
}

.list-item{
text-decoration: none;
color: inherit;
} */
