

:root{
  --darck-color: #000000;
  --button-color: #2639ED;
  --font-color: #565656;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Averta Demo PE Cutted Demo'; 
}

.container{
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
}

h2{
  font-size: 40px;
  font-weight: 400;
  color:var(--darck-color);
}
p{
  font-weight: 400;
  color: var(--font-color);
}
